<div class="parent-container">
	<div class="row">
		<div class="col-12 text-center">
			<h2>{{ title }}</h2>
		</div>
	</div>
	<div class="row" *ngIf="!errorMessage">
		<div class="col-12 text-right d-flex justify-content-end">
			<button [disabled]="selectedCount == 0" type="button" (click)="clearSelection()" class="btn btn-info"><i class="fa fa-minus-square" aria-hidden="true"></i> Clear Selection</button>&nbsp;
			<button [disabled]="selectedCount == 0" type="button" (click)="onDeleteRow()" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>&nbsp;
			<button type="button" (click)="onAddRow()" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>&nbsp;
			<button [disabled]="!cellValueChanged && !cellEditStopped" type="button" (click)="updateData()" class="btn btn-primary"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
		</div>
	</div>
	<div class="row" *ngIf="!errorMessage">
		<div class="col-12">
			<ag-grid-angular
			style="width: 100vw;height: 50vh;"
			class="ag-theme-balham"
			[rowData]="rowData"
			[columnDefs]="columnDefs"
			[defaultColDef]="defaultColDef"
			[rowSelection]="'multiple'"
			[animateRows]="true"
			[rowHeight]="40"
			[tooltipMouseTrack]="true"
			(rowSelected)="onRowSelected($event)"
			(cellValueChanged)="onCellValueChanged($event)"
			(cellEditingStarted)="onCellEditingStarted($event)"
			(cellEditingStopped)="onCellEditingStopped($event)"
			(gridReady)="onGridReady($event)"
			[pagination]="true"
			[paginationPageSize]="10"
			>
			</ag-grid-angular>
		</div>
	</div>
	<div class="row" *ngIf="errorMessage">
		<h5 class="text-danger">{{ errorMessage }}</h5>
	</div>
	<div *ngIf="showSaved" class="alert alert-success">
		<strong>Saved!</strong>
	</div>
	<div *ngIf="notSaved" class="alert alert-danger">
		<strong>{{ cantSaveError }}</strong>
	</div>
</div>
