<div class="custom-tooltip" [style.background-color]="color">
    <p><span>{{ data.name }}</span></p>
    <p><span>State: </span>{{ data.state }}</p>
    <p><span>Amount: </span>{{ data.amount }}</p>
</div>