:host {
    position: absolute;
    width: 150px;
    height: 70px;
    pointer-events: none;
    transition: opacity 1s;
}

:host.ag-tooltip-hiding {
    opacity: 0;
}

.custom-tooltip {
    background-color: '#ececec'
}

.custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
}

.custom-tooltip p:first-of-type {
    font-weight: bold;
}