/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.custom-tooltip {
    width: 150px;
    height: 70px;
    border: 1px solid cornflowerblue;
    overflow: hidden;
  }
  
  .custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
  }
  
  .custom-tooltip p:first-of-type {
    font-weight: bold;
  }